* {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
}

nav {
  margin-bottom: 10px;
  width: 100%;
}

footer {
  height: 100px;
  background: black;
  margin-top: 20px;
  width: 100%;
}

.old-price {
  text-decoration: line-through;
  font-size: 10px;
}

.deal-price {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.header-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.grid-container > div,
.grid-container-3 > div,
.grid-container-4 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  border: 1px black;
}

.right {
  margin: 0 auto;
  /* width: auto; */
  /* height: 200px; */
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right-top > img {
  margin: 5px;
  /* height: 200px; */
  width: 400px;
}

.right-bottom > img {
  margin: 5px;
  /* height: 200px; */
  width: 400px;
}
.main-section {
  margin: 0 auto;
  justify-content: space-between;
  max-width: 900px;
}

.grid-container-2 {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  /* background-color: #1186a3; */
  padding: 10px;
}

.grid-container-3 {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #1186a3;
  padding: 10px;
}

.grid-container-4 {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #1186c3;
  padding: 10px;
}

.spacer {
  height: 50px;
}

.black-top-bar {
  width: 100%;
  background: #131313;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.black-top-bar ul {
  list-style: none;
  padding-inline-start: 0px;
}
.black-top-bar ul li {
  display: list-item;
  float: left;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 12px;
  line-height: 32px;
  cursor: pointer;
}
.black-top-bar ul li:hover,
.black-top-bar ul li:focus {
  color: white;
}

.black-top-bar ul li:first-child {
  margin-left: 20px;
}
.black-top-bar ul li:last-child {
  margin-right: 20px;
}
.flex-start {
  align-self: flex-start;
}
.flex-end {
  align-self: flex-end;
}

.white-top-bar {
  height: 30px;
  background: silver;
  margin-bottom: 10px;
  width: 100%;
  color: white;
  float: left;
}

.header-article {
  width: 70%;
}

.header-article-overlay {
  z-index: 2;
  height: 417px;
  width: 796px;
  margin-top: -427px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.header-article > img {
  z-index: 1;
}

.header-article-date {
  text-align: right;
  margin-top: 15px;
  margin-right: 80px;
  font-size: 14px;
  font-weight: 400px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

.header-article-title {
  margin-top: 270px;
  margin-left: 10px;
  text-align: left;
  font-size: 40px;
  font-weight: 700px;
  font-family: sans-serif;
  color: white;
}

.header-article-author {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400px;
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

.latest-news-one {
  /* width: 25%; */
  padding: 2px;
}

.latest-news-image > img {
  width: 200px;
}

.latest-news-title {
  font-size: 14px;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  padding: 2px;
}

.latest-news-author {
  font-size: 12px;
  font-weight: 400;
  color: rgb(170, 170, 170);
  font-family: Helvetica, Arial, sans-serif;
  padding: 2px;
}

@media (max-width: 1024px) {
  .grid-container,
  .grid-container-2,
  .grid-container-3,
  .grid-container-4 {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    /* background-color: #d021f3; */
    padding: 10px;
    grid-gap: 5px;
  }

  .latest-news-one {
    display: inline;
  }
}

@media (max-width: 768px) {
  .grid-container,
  .grid-container-2,
  .grid-container-3,
  .grid-container-4 {
    display: grid;
    grid-template: 1fr / 1fr;
    /* background-color: #cdf321; */
    padding: 10px;
    grid-gap: 5px;
  }
  .grid-container,
  .grid-container-2,
  .grid-container-3,
  .grid-container-4,
  img {
    /* width: 50%; */
  }
  .latest-news-one {
    display: inline;
    float: left;
  }
}
