* {
  box-sizing: border-box;
}

nav {
  margin-bottom: 10px;
  width: 100%;
}

footer {
  height: 100px;
  background: black;
  margin-top: 20px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template: 2fr / 2fr 1fr;
  /* grid-gap: 10px; */
  /* background-color: #2196f3; */
  padding: 10px;
  height: 417px;
  width: 100%;
}

.grid-container > div,
.grid-container-2 > div,
.grid-container-3 > div,
.grid-container-4 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  border: 1px black;
}

.right > div {
  background-color: rgba(85, 85, 85, 0.8);
  margin: 5px;
}

.main-section {
  margin: 0 auto;
  justify-content: space-between;
  max-width: 900px;
}

.grid-container-2 {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #1186a3;
  padding: 10px;
}

.grid-container-3 {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #1186a3;
  padding: 10px;
}

.grid-container-4 {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #1186c3;
  padding: 10px;
}

.spacer {
  height: 50px;
}

.black-top-bar {
  height: 30px;
  background: black;
  width: 100%;
  color: white;
}
.black-left {
  float: left;
}
.black-right {
  float: right;
}

.white-top-bar {
  height: 30px;
  background: silver;
  margin-bottom: 10px;
  width: 100%;
  color: white;
  float: left;
}

.header-article-overlay {
  z-index: 2;
  height: 417px;
  width: 796px;
  margin-top: -427px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.header-article > img {
  z-index: 1;
}

.header-article-date {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

.header-article-title {
  margin-top: 270px;
  margin-left: 10px;
  text-align: left;
  font-size: 40px;
  font-weight: 700px;
  font-family: sans-serif;
  color: white;
}

.header-article-author {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400px;
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1024px) {
  .grid-container,
  .grid-container-2,
  .grid-container-3,
  .grid-container-4 {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    background-color: #d021f3;
    padding: 10px;
    grid-gap: 5px;
  }
}

@media (max-width: 768px) {
  .grid-container,
  .grid-container-2,
  .grid-container-3,
  .grid-container-4 {
    display: grid;
    grid-template: 1fr / 1fr;
    background-color: #cdf321;
    padding: 10px;
    grid-gap: 5px;
  }
}
